cachetools==5.5.2
certifi==2025.8.3
charset-normalizer==3.4.3
google-ai-generativelanguage==0.1.0
google-api-core==2.25.1
google-api-python-client==2.182.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.1.0rc1
googleapis-common-protos==1.70.0
grpcio==1.70.0
grpcio-status==1.62.3
httplib2==0.31.0
idna==3.10
proto-plus==1.26.1
protobuf==4.25.8
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyparsing==3.1.4
requests==2.32.4
rsa==4.9.1
uritemplate==4.1.1
urllib3==2.2.3
pandas==2.3.2
fastapi==0.117.1
dotenv==0.9.9
google-adk==1.14.1
beautifulsoup4==4.13.5