#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-optical-sizing: auto;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #0ea5e9;
}

html {
  scroll-behavior: smooth;
}

#about,
#speakers,
#teams,
#faqs {
  padding-top: 35px; /* Adjust this based on the navbar height */
}

/* Custom styles for the desktop and mobile vertical lines */
.desktop-vertical-lines,
.mobile-vertical-lines,
.desktop-cta-bg,
.mobile-cta-bg,
.newsletter-bg-desktop,
.newsletter-bg-mobile {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Media query for responsive vertical lines */
/* For screens 1024px and larger (desktop) */
@media (min-width: 1024px) {
  .desktop-vertical-lines {
    background-image: url("/desktop-vertical-lines.svg");
  }

  .desktop-cta-bg {
    background-image: url("/desktop-cta-bg.svg");
  }

  .newsletter-bg-desktop {
    background-image: url("/newsletter-bg-desktop.svg");
  }
}

/* For screens smaller than 1024px (mobile) */
@media (max-width: 1023px) {
  .mobile-vertical-lines {
    background-image: url("/mobile-vertical-lines.svg");
  }

  .desktop-cta-bg {
    background-image: url("/mobile-cta-bg.svg");
  }

  .newsletter-bg-mobile {
    background-image: url("/newsletter-bg-mobile.svg");
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;    
}
